
.navleft {
    width: 20%;
    float: left;
    background-color: beige;
}
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li a {
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}