html {
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
    from {
        background-color: black;
    } to {
        background-color: whitesmoke;
    }
}
.navleft {
    width: 20%;
    float: left;
    background-color: beige;
}
.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border-style: none;
}
.nav li a {
    line-height: 3em;
    width: 100%;
    text-decoration: none;
}
body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
img {
    width: 250px;
    height: auto;
    text-align: center;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
